<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Copyright (c) 2020 Ubique Innovation AG <https://www.ubique.ch>
  ~
  ~ This Source Code Form is subject to the terms of the Mozilla Public
  ~ License, v. 2.0. If a copy of the MPL was not distributed with this
  ~ file, You can obtain one at https://mozilla.org/MPL/2.0/.
  ~
  ~ SPDX-License-Identifier: MPL-2.0
  -->

<configuration>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d %p [%c] - &lt;%m&gt;%n</pattern>
        </encoder>
    </appender>

    <logger name="org.dpppt" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
