 \ubheader{ {{{field}}} } {{#required}} \textcolor{red}{\emph{*}} {{/required}} & \hyperref[sec:{{pure_type}}]{ {{{param_type}}} }   & {{{description}}} & {{=<% %>=}} \seqsplit{<% example %>} <%={{ }}=%>\\
\hline
